<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
  </specFlow><startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <appSettings>
    <add key="CREATE_USER_PATH_TEMPLATE" value="/api/users" />
    <add key="GET_USER_PATH_TEMPLATE" value="users/{0}" />
    <add key="UPDATE_USER_PATH_TEMPLATE" value="/api/users/{0}" />
    <add key="DELETE_USER_PATH_TEMPLATE" value="/users/{0}" />
    <add key="SECONDS_TIMEOUT" value="20" />
    <add key="REQRES_BASE_URI" value="https://reqres.in/api/" />
    <add key="AUTOMATION_PRACTICE_BASE_URI" value="http://automationpractice.com/index.php"/>
    <add key="HOMEPAGE_TITLE" value="my store"/>
    <add key="LOGINPAGE_TITLE" value="login - my store"/>
    <add key="MYACCOUNTPAGE_TITLE" value="my account - my store"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.8.1.0" newVersion="3.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
